@charset "UTF-8";
/* CSS Document */

/*Controls the background colours of individual web app sections*/

#login {
	background-color: #f1c40f;
}

#metab {
	background-color: #2dcc71;
}

#dashboard {
    background-color: #c23c2e;
}


/*#login section {
    vertical-align: middle;
}
*/


.register {
    text-align: right;
}


/*.center {
    position: relative;
    top: 45%;
}​
*/
.loginfont {
	color: #fff;
	font-size: 2rem;	
}
/*Button amendments*/	
.quiz {
	  background-color: #3498db;
	  color: #FFF;}
	  
	quiz:hover, quiz:focus, .quiz:hover, .quiz:focus {
    background-color: #e67e22; }
	quiz:hover, quiz:focus, .quiz:hover, .quiz:focus {
    color: #3a3b36; 
}

.readabletext {
	font-family: "Lato";
	font-size: 1rem;
}

.spacer {
	margin-top: 1rem;
}